@model IEnumerable<ProductManagementPortal.Models.ProductModel>

@{
    ViewBag.Title = "Product Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Administration</h1>

@using (Html.BeginForm("Upload", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <h3>Upload Your Product Catalogue</h3>
        <div class="editor-field">
            @Html.TextBox("file", "", new { type = "file" })
            @*<input type="file" name="file" value="Upload" />*@
        </div>
        <div class="editor-field">
            <input type="submit" value="Upload" />
        </div>
    </fieldset>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
